/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 20px;
  background: #292929;
  color: #8e8e8e;
}

mat-select {
  height: 40px;
}

.mat-select-panel {
  background-color: #ffffff; /* White background color */
  color: #000000; /* Black text color */
}

.mat-option {
  color: #000000; /* Black text color */
}

.mat-select-trigger {
  background-color: #ffffff; /* White background color */
  color: #000000; /* Black text color */
}

